[data-tooltip] {
  &::after {
    content: attr(data-tooltip);
    position: absolute;
  }

  &:where([data-mount=top], [data-mount=bottom])::after {
    left: 50%;
    transform: translateX(-50%);
  }

  &:where([data-mount=left], [data-mount=right])::after {
    top: 50%;
    transform: translateY(-50%);
  }

  &[data-mount=top] {
    top: -100%;
  }

  &[data-mount=right] {
    right: -100%;
  }

  &[data-mount=bottom] {
    bottom: -100%;
  }

  &[data-mount=left] {
    left: -100%;
  }
}